// Adapted from https://ui.mantine.dev/category/hero/

.button {
  height: 42px;
  font-size: var(--mantine-font-size-md);
}

.secondaryButton {
  color: var(--mantine-color-white);
  background-color: rgba(255, 255, 255, 0.4);

  @mixin hover {
    background-color: rgba(255, 255, 255, 0.45);
  }
}
