// Adapted from https://ui.mantine.dev/category/hero/

.container {
  background-color: gray;
  height: 80vh;
  flex-shrink: 0;
  min-height: 400px;
  max-height: 1000px;
  position: relative;
}

.wrapper {
  height: 100%;
  width: 100%;
  max-width: $max-width-wide;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-xl);
}

.inner {
  max-width: $max-width;
  margin: 0 auto;
  z-index: 1;
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: center;
  font-family: Outfit, var(--mantine-font-family);
}

.description {
  color: var(--mantine-color-gray-0);
  text-align: center;
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;
  flex-direction: row-reverse;
  gap: var(--mantine-spacing-md);
  flex-wrap: wrap-reverse;
  justify-content: center;
}

