// Adapted from https://ui.mantine.dev/category/headers/

.nav {
  height: 56px;
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  margin-bottom: var(--mantine-spacing-xl);
  z-index: 10;
}

.surfaceWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  height: 0; // Prevents space rendering on mobile
  overflow: hidden;
  visibility: hidden;
}

.show {
  position: static;
  pointer-events: auto;
  height: auto;
  overflow: visible;
  visibility: visible;
}

.inner {
  max-width: $max-width;
  padding: 0 var(--mantine-spacing-md);
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-shrink: 0;
}

.inner_right {
  display: flex;
  flex-direction: row;
}
