// Adapted from https://ui.mantine.dev/category/headers/

.header {
  height: 56px;
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner_right {
  display: flex;
  flex-direction: row;
}

.active {
  color: red;
}
